<h1 class="m-3">Java Script Practice</h1>
<div class="m-3">
    <h2>Sort Method</h2>
    <p><b>Lowest Value: </b>{{lowestVal}}</p>
    <p><b>Highest Value: </b>{{highestVal}}</p>
    <p><b>Asending order: </b>{{asendingVal}}</p>
    <p><b>Desending order: </b>{{desendingVal}}</p>
  </div>
  <hr>
  <div class="m-3">
    <h2>Splice Method</h2>
    <p>{{spliceVal}}</p>
  </div>
  <hr>
  <div class="m-3">
    <h2>forEach Method</h2>
    <div>{{textVal}}</div>
    <button (click)="deleteItem()" class="btn btn-danger" [disabled]="lengthZero">Delete item</button>
  </div>
  <hr>
  <div class="m-3">
    <h2>Slice Method</h2>
    <p>{{sliceVal}}</p>
  </div>
  <hr>