<!-- <app-input-decorator [item]="currentItem"></app-input-decorator>
<hr> -->
<!-- ------------------------------------------------------------------------------------------------------ -->
<!--
<app-output-decorator (newItemEvent)="addItem($event)" (newEvent)="addFruit($event)"></app-output-decorator>
<div class="m-3">
<h2>Parent Component - Decorator</h2>
<h2>List of items</h2>
<ol>
  <li *ngFor="let itemList of items" style="font-size: 20px;">{{itemList}}</li>
</ol>
<ol>
    <li *ngFor="let fruitList of fruits" style="font-size: 20px;">{{fruitList}}</li>
  </ol>
</div>
-->
<!-- -------------------------------------------------------------------------------------------------------------- -->
<app-both-decorator [item]="currentItem" [titl]="title" (newEvent)="addFruit($event)"></app-both-decorator>
<div class="m-3">
    <ol>
        <li *ngFor="let fruitList of fruits" style="font-size: 20px;">{{fruitList}}</li>
      </ol>
</div>
<hr>
  <button class="btn btn-md btn-primary m-3"  (click)='deleteItem()'>Delete item</button>

    <div [ngStyle]="currentStyles">
        This div is initially italic, normal weight, and extra large (24px).
      </div>


<!-- <hr> -->
<!-- <div> {{ user || sort }} </div> -->
<!----------------------------------------------------------------------------------------------------------------- -->